/* line 3, ../sass/main.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Colours */
/* Base styling */
/* line 19, ../sass/main.scss */
html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  /* -webkit-font-smoothing: antialiased; */
}

/* line 26, ../sass/main.scss */
body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background: #f5f5f5;
  font-size: 1.6rem;
  line-height: 1.25;
  font-weight: normal;
  color: #444545;
}

/* line 38, ../sass/main.scss */
button,
input {
  border: 0 none;
  margin: 0;
  background-color: transparent;
}

/* line 44, ../sass/main.scss */
img {
  max-width: 100%;
}

/* line 49, ../sass/main.scss */
a,
a:visited {
  color: #1e9c6c;
  border-bottom: 1px solid #f0eeee;
}

/* line 53, ../sass/main.scss */
a {
  text-decoration: none;
}

/* line 57, ../sass/main.scss */
a:focus {
  outline: none;
}

/* line 61, ../sass/main.scss */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Clearfix */
/* line 75, ../sass/main.scss */
.group:before,
.group:after {
  content: " ";
  display: table;
}

/* line 79, ../sass/main.scss */
.group:after {
  clear: both;
}

/* line 82, ../sass/main.scss */
.group {
  *zoom: 1;
}

/* Typographic Scale */
/* line 88, ../sass/main.scss */
h1, .trafalgar {
  font-size: 4.8rem;
  color: #1e9c6c;
  line-height: 1.5;
  margin: 0;
  letter-spacing: -0.048rem;
}

/* line 95, ../sass/main.scss */
h2, .double-pica {
  font-size: 2.4rem;
  color: #1e9c6c;
  margin: 0 0 1.6rem;
}

/* line 100, ../sass/main.scss */
h3, .great-primer {
  font-size: 2.0rem;
  margin: 0 0 0.4rem;
}

/* line 104, ../sass/main.scss */
h4, .pica {
  font-size: 1.6rem;
  color: #414042;
}

/* line 108, ../sass/main.scss */
h5, .long-primer {
  font-size: 1.3rem;
}

/* line 111, ../sass/main.scss */
h6, .brevier {
  font-size: 1.0rem;
}

/* line 115, ../sass/main.scss */
h1, .trafalgar, h2, .double-pica, h3, .great-primer {
  font-weight: bold;
}

/* line 119, ../sass/main.scss */
p {
  margin: 0 0 1.6rem;
}

/* line 123, ../sass/main.scss */
.img-caption {
  font-style: italic;
  text-align: center;
  margin: 1.6rem auto 0.8rem;
  max-width: 40rem;
}

/* line 130, ../sass/main.scss */
.container {
  margin: 0 auto;
  max-width: 53.000em;
  padding: 0 0.8rem;
}

/* line 136, ../sass/main.scss */
.region {
  position: relative;
  vertical-align: top;
  width: 100%;
  float: left;
}

/* line 143, ../sass/main.scss */
section {
  padding: 3.2rem 0;
}

/* line 147, ../sass/main.scss */
header {
  padding: 3.2rem 0.8rem;
}

/* line 151, ../sass/main.scss */
.size-section, .saving-section {
  background: #f0eeee;
}

/* line 155, ../sass/main.scss */
.size-description, .presets-description, .saving-description {
  width: 90%;
  float: none;
  margin: 0 auto;
  max-width: 38rem;
}

/* line 162, ../sass/main.scss */
.size-figure, .presets-figure, .saving-figure {
  margin: 0 auto;
  text-align: center;
}

/* line 167, ../sass/main.scss */
figure {
  padding: 0.4rem 0 0;
}

/* line 171, ../sass/main.scss */
.header {
  text-align: center;
}

/* line 175, ../sass/main.scss */
.header p {
  max-width: 38rem;
  margin: 0 auto;
}

@media screen and (min-width: 28.5em) {
  /* line 181, ../sass/main.scss */
  section {
    padding: 3.2rem 1.6rem;
  }

  /* line 184, ../sass/main.scss */
  header {
    padding: 4.8rem 1.6rem 6.8rem;
  }

  /* line 187, ../sass/main.scss */
  .container {
    width: 83.333%;
  }
}
@media screen and (min-width: 37.5em) {
  /* line 193, ../sass/main.scss */
  h1, .trafalgar {
    font-size: 6.4rem;
  }
}
@media screen and (min-width: 850px) {
  /* line 200, ../sass/main.scss */
  section {
    padding: 6.8rem 1.6rem;
  }

  /* line 204, ../sass/main.scss */
  .region {
    float: left;
  }

  /* line 208, ../sass/main.scss */
  .size-description, .presets-description, .saving-description {
    width: 40%;
    max-width: 100%;
  }

  /* line 213, ../sass/main.scss */
  .size-description, .saving-description {
    width: 40%;
    padding-left: 0.8rem;
    left: 60%;
  }

  /* line 219, ../sass/main.scss */
  .presets-description {
    padding-right: 0.8rem;
  }

  /* line 223, ../sass/main.scss */
  .presets-figure {
    padding-left: 0.8rem;
  }

  /* line 227, ../sass/main.scss */
  .presets-figure, .size-figure, .saving-figure {
    width: 60%;
  }

  /* line 231, ../sass/main.scss */
  .size-figure, .saving-figure {
    padding-right: 0.8rem;
    left: -40%;
  }

  /* line 236, ../sass/main.scss */
  figure {
    padding: 1.6rem 0 0;
  }

  /* line 239, ../sass/main.scss */
  .header p {
    max-width: 100%;
  }
}
/* line 244, ../sass/main.scss */
.key {
  color: #ccc;
  padding: 24px;
  text-align: center;
}
